.pokeArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(189, 147, 218);
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
}

.searchArea {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.searcher {
    background-color: rgb(30, 32, 40);
    border: 1px solid rgb(28, 30, 38);
    border-radius: 3px;
    color: rgb(242, 121, 170);
    margin-right: 4%;
}

.searcher:focus {
    outline: 2px solid rgb(189, 147, 218);
}

.scrollerArea {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.scroller {
    cursor: pointer;
    background-color: rgb(33, 34, 44);
    width: 100%;
    height: 5vh;
    border: 2px solid rgb(30, 32, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(80, 237, 87);
    transition: all 0.6s ease;
}

.searchButton {
    cursor: pointer;
    padding: 5px;
}

.searchButton:hover {
    background-color: rgb(80, 237, 87);
    color: rgb(40, 42, 54);
    outline: 2px solid;
    border-radius: 8px;
}

.scroller:hover {
    font-weight: bold;
    background-color: rgb(27, 28, 38);
}

.pokeList {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pokeTable {
    display: flex;
    position: relative;
}

.pokePlaceTitle {
    height: 350%;
    background-color: rgb(40, 42, 54);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 0.6s ease;
}

.buttonItemsNumber {
    cursor: pointer;
    background-color: rgb(50, 50, 60);
    border: 2px rgb(179, 179, 179) solid;
    color: rgb(150, 150, 150);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonItemsNumber:hover {
    background-color: rgb(139, 233, 253);
    border: 2px rgb(30, 32, 40) solid;
    color: rgb(30, 32, 40);
}

.placeNumber {
    width: 30ex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokeTags {
    cursor: pointer;
    width: 120px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    margin-inline: .5%;
    padding-inline: 1.5%;
    background-color: rgb(40, 42, 54);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.pokeTags:hover {
    outline: 1px solid rgb(242, 121, 170);
}

.pokeActiveTags {
    background-color: rgb(242, 121, 170);
    color: rgb(40, 42, 54) !important;
    border-radius: 8px;
}

.pokePlaceTags {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsPlaceNumber {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
}

@media (min-width: 600px) {

    .pokeArea {
        width: 99.8%;
        height: 100%;
        margin-top: -9px;
    }

    .pokePlaceTitle {
        width: 100%;
        height: 100%;
    }

    .pokeTable {
        width: 100%;
        height: 90%;
    }

    .pokePlaceTags {
        width: 70%;
        height: 80%;
    }

    .searcher {
        width: 50%;
        height: 25px;
    }
}

@media (max-width: 769px) {
    .searcher {
        width: 100%;
        height: 100%;
    }

    .searchArea {
        width: 70%;
        height: 50%;
    }

    .pokePlaceTags {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
        margin-top: 20px;
    }

    .pokePlaceTags {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scroller {
        display: none;
    }

    .pokePlaceTitle {
        display: absolute;
    }

    .tags {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}